<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <title>Material Storefront</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@0.11.0/dist/material-components-web.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet"
          href="css/styles.css">
    <script src="https://unpkg.com/vue@2.3.4"></script>
  </head>
  <body>
    <div id="app">
      <header class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
          <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <store-info v-bind:info="shop_info"></store-info>
          </section>
          <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
            <cart v-bind:item-count="3" v-bind:total="101.26"></cart>
          </section>
        </div>
      </header>
      <div class="mdc-layout-grid shop-container">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-12-phone">
          <h4>Filter by</h4>
          <ul class="mdc-list mdc-list--two-line">
            <category-item
              v-for="category in categories"
              v-bind:category="category"
              v-bind:key="category.name">
            </category-item>
          </ul>
          <ul class="mdc-list sidebar-list">
            <page-item
              v-for="page in pages"
              v-bind:page="page"
              v-bind:key="page.title">
            </page-item>
          </ul>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9 mdc-layout-grid__cell--span-12-phone">
          <div class="mdc-layout-grid">
            <product
              v-for="product in products"
              v-bind:product="product"
              v-bind:key="product.title">
            </product>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="./app.js"></script>
    <script>window.mdc.autoInit();</script>
  </body>
</html>
